.profile {
  width: 45%;
}

.background {
  /* background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"); */
  background-color: lightsalmon;
  margin: 0vh;
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.splash-text {
  color: white;
}

.About {
  margin-top: 2vh;
}

.inline-block {
  display: inline-block;
}